@import "../variables/variables";

$redes:(
    color: $blue,
    centro: $alinear-al-centro,
    fSize: $size,
    ancho: 80%,
);

h2{
    background-color: map-get($redes, color);
    width: map-get($redes, ancho);
}