@import "../variables/variables.scss";


@mixin flexibilizar-centrar {
    display: flex;
    justify-content: space-around;
    
}
@mixin fuentes {
    font-family: $tipo-de-letra;
    line-height: 1,5;
    font-style: italic;

}
@mixin estilos-de-anclas {
    text-decoration: none;    
    font-family: $tipo-de-letra;
}